html {
	color: #30291c;
}

.copyright {
	background-color: wheat;
	padding: 10px;
}

.main {
	width: 100%;
	vertical-align: top;
}

td {
	padding: 6px;
}

dt {
	font-weight:bold;
	margin-bottom: 5px;
}

.top {
	vertical-align: top;
}

table, td, tr {
}

table.nav td {
	border-width: 0;
}

table.nav {
	padding-left: 32px;
	border-spacing: 0pt;
}

table.nav td {
}

table.navitem {
	width: 100%;
}

table.navitem tr:nth-child(1) {
	color: white;
	background-color: orange;
	font-weight: bold;
	white-space: nowrap; /* Don't get cutoff */
}
table.navitem tr:nth-child(2) {
	background-color: wheat;
}

table.navitem tr:nth-child(1) a {
	text-decoration: none;
	color: white;
}

.function {
	background-color: #ccaf7a;
	padding-left: 1em;
}

.function p {
	margin-top: 0.2em;
}

.version {
	float: right;
}

.hide {
	float: right;
	font-size: large;
	cursor: pointer;
}
